body{
  background: #eee;
  display: flex;
  height: calc(100vh - 480px);
  align-items: center;
  justify-content: center;
}
.container{
  cursor: pointer;
  position: relative;
}
.container img{
  position: absolute;
  height: 480px;
  width: 350px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px 0px;
}
.container > img:first-child{
  opacity: 0;
  transition: all .8s;
  z-index: 1;
}

.container > img:last-child{
  opacity: 1;
  transition: all .8s;
  z-index: 1;
}

.container:hover > img:first-child{
  opacity: 1;
  transition: all .8s;
}

.container:hover > img:last-child{
  opacity: 0;
  transition: all .8s;
}
